:root {
  --branco: #FFFFFF;
  --roxo-vivo: #8502BB;
  --roxo-escuro: #4104A8;
  --cinza: #858585;
  --rosa: #F208A4;
  --azul: #00CAF3;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--branco);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 2.5rem;
    color:var(--roxo-vivo);
  }
  
  h2 {
    font-size: 1.5rem;
    color: var(--cinza);
  }
  
  /* HEADER */
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  .header__container-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
  }
  
  .header img {
    height: 100px;
    transform: scale(2);
  }
  
  .header__intro{
    max-width: 800px;
    line-height: 2rem;
    text-align: justify;
  }

  .titulos {
    margin-left: 1rem;
  }
  
  /* LINKS */
  
  .links {
    font-size: 0.8rem;
  }
  
  .links a {
    display: block;
    color: var(--branco);
    background-color: var(--roxo-escuro);
    text-align: center;
    margin: 1rem 0rem 1rem 0rem;
    padding: 1rem 10rem;
    border-radius: 0.625rem;
  }
  
  .links a:hover {
    display: block;
    background-color: var(--rosa);
    animation: mouseHover 0.5s ease;
  }
  
  @keyframes mouseHover {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* SOCIAL */
  
  .social {
    display: flex;
    margin: 1rem;
    font-size: 1.5rem;
  }
  
  .social li a {
    margin: 0rem 0.5rem;
    padding: 0.5rem;
    color: var(--azul);
  }
  
  .social li a:hover {
    color: var(--rosa);
    animation: mouseHover 0.5s ease;
  }
  
  /* MOBILE */
  
  @media only screen and (max-width: 600px) {
    body {
      max-width: 320px;
      margin: 0 auto;
    }
  
    .links a {
      padding: 1rem;
    }
  }