:root {
  --branco: #FFFFFF;
  --roxo-vivo: #8502BB;
  --roxo-escuro: #4104A8;
  --cinza: #858585;
  --rosa: #F208A4;
  --azul: #00CAF3;
}

@font-face {
  font-family: Bellota;
  src: url('../fonts/Bellota-Bold.otf');
}

*{
  box-sizing: border-box;
}

body {
    font-family: "Bellota", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--branco);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    height: 100%;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
    color:var(--roxo-vivo);
  }
  
  h2 {
    font-size: 1.3rem;
    color: var(--cinza);
  }
  
  /* HEADER */
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 2rem;
  }
  
  .header img {
    height: 160px;
    margin-bottom: 2.3rem;
  }
  
  .header__intro{
    max-width: 600px;
    line-height: 2rem;
    text-align: center;
  }

  .titulos {
    margin-left: 1rem;
  }
  
  /* LINKS */
  
  .links {
    font-size: 1.2rem;
  }
  
  .links a {
    display: block;
    color: var(--branco);
    background-color: var(--roxo-escuro);
    text-align: center;
    margin: 1rem 0rem 1rem 0rem;
    padding: 1rem 10rem;
    border-radius: 0.625rem;
    text-decoration: none;
  }
  
  .links a:hover {
    display: block;
    background-color: var(--rosa);
    animation: mouseHover 0.8s ease; 
    text-decoration: underline;
  }
  
  @keyframes mouseHover {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }
  
  /* SOCIAL */
  
  .social {
    display: flex;
    margin: 1rem;
    font-size: 1.5rem;
  }
  
  .social li a {
    margin: 0rem 0.5rem;
    padding: 0.5rem;
    color: var(--azul);
  }
  
  .social li a:hover {
    color: var(--rosa);
    animation: mouseHover 0.5s ease;
  }

  /* RESPONSIVIDADE */

  @media only screen and (max-width: 1024px){
    body {
      max-width: 1024px;
    }
  
    .links a {
      padding: 1.4rem;
    }

    .header {
      flex-direction: column;
    }

    h1 {
      text-align: center;
      margin-bottom: 1.5rem;
    }

    h2{ 
      text-align: center;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
      min-width:  768px;
      max-width: 1024px;
    }

    .header img {
      margin-top: 6rem;
    }

    .links a {
      font-size: 1.6rem;
    }

    .social li a {
      font-size: 2rem;
    }
  }
